:root {
    --black-color: #202020;
    --white-color: #ffffff;
    --accent-color: #0F59D4;
    --main-fs: 18px;
    --main-lh: 1.33;
    /* --mob-lh: 1.37; */
    --trans-dur: 250ms;
    --trans-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--black-color);
    line-height: var(--main-lh);
    font-size: var(--main-fs);
    font-weight: 300;
    margin: 0;

    @media (max-width: 561px) {
      & {
        line-height: var(--mob-lh);
      }
      
    }
  }
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  ul,
  ol {
    padding-left: 0;
    margin: 0;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
    scale: 1.01;
      }
  
  section {
    margin: 0 auto;
  }
  
  .link {
    text-decoration: none;
  }
  
  .list {
    list-style: none;
  }
  
  .container {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
  }
  
  .responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .white {
    color: var(--white-color)
  }

  .main-title {
    font-size: 72px;
    font-weight: 700;
  }

  .title {
    font-size: 32px;
    font-weight: 600;
  }

  .btn {
    border: none;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}


  
  /* hero */

  .hero {
    .container {
        padding-left: 10%;
        max-height: 900px;
        background: url("../img/mediaexpert-hero.png") no-repeat center / cover;
        
        .hero-info {
            padding: 15% 0;
            max-width: 609px;
            display: flex;
            flex-direction: column;
            gap: 60px;

            .hero-titles {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            .hero-text {
                font-style: 22px;
            }
            .btn-hero {
                margin-right: auto;
                padding: 18px 82px;
                background-color: var(--white-color);
            }
        }
    }    
  }

  /* mediaexpert */

  .mediaexpert {
    .container {
        display: flex;

        .mediaexpert-logo {
            display: flex;
            justify-content: center;
            background-color: var(--black-color);
            width: 40%;
            padding: 50px 0px;            
        }

        .mediaexpert-action {
            background-color: #FFF200;
            display: flex;
            align-items: center;
            flex-grow: 1;
            gap: 80px;
            padding-left: 80px;
            
            .action-title {
                font-size: 56px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            .action-text {
                font-size: 20px;
                font-weight: 600;
            }

            .btn-action {
                background-color: var(--black-color);
                color: var(--white-color);
                padding: 18px 109px;
            }

        }
    }
  }

   /* offers */

   .offers {
    .container {

      padding-left: 10px;
      padding-right: 10px;
      max-height: 1046px;
      background: url("../img/mediaexpert-offers.png") no-repeat center / cover;
      

      .offers-wrap {
        padding-top: 7%;
        padding-bottom: 7%;
        display: flex;
        flex-direction: column;
        gap: 80px;
        align-items: center;
      }

      .offers-list {
        display: flex;
        gap: 30px;
        max-width: 1520px;

        .offers-item {
          background-color: #FFFFFFCC;
          border-radius: 20px;
          overflow: hidden;
          flex: 1;

          .offers-info-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px 10px 60px 10px;

            .offer-name {
              font-size: 36px;
              font-weight: 400;
              line-height: 1;
              margin-bottom: 30px;

            }

            .offer-price {
              font-size: 104px;
              font-weight: 700;
              color: var(--accent-color);
              line-height: 1;
              margin-bottom: 60px;

              .price-currency {
                font-size: 32px;
                font-weight: 400;
                margin-left: 8px;
              }
            }

            .btn-offer {
              background-color: var(--black-color);
              color: var(--white-color);
              padding: 10px 51px;
            }
          }
        }
      }        
    }
  }

  /* conditions */

  .conditions {
    .container {
        padding: 160px 0;
        max-width: 1216px;
        display: flex;
        flex-direction: column;
        gap: 80px;
        align-items: center;

        .conditions-titles {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        .conditions-text {
            text-align: center;
        }

        .conditions-list {
            display: flex;
            gap: 40px;

            .conditions-item {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 24px;
                align-items: center;

                .conditions-item-text {
                    text-align: center;
                }
            }
        }
    }
  }

 