:root {
    --black-color: #202020;
    --white-color: #ffffff;
    --accent-color: #0F59D4;
    --main-fs: 18px;
    --main-lh: 1.33;
    /* --mob-lh: 1.37; */
    --trans-dur: 250ms;
    --trans-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--black-color);
    line-height: var(--main-lh);
    font-size: var(--main-fs);
    font-weight: 300;
    margin: 0;

}
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  ul,
  ol {
    padding-left: 0;
    margin: 0;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
    scale: 1.01;
      }
  
  section {
    margin: 0 auto;
  }
  
  .link {
    text-decoration: none;
  }
  
  .list {
    list-style: none;
  }
  
  .container {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
  }
  
  .responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .white {
    color: var(--white-color)
  }

  .main-title {
    font-weight: 700;    
    font-size: 36px;

    @media (min-width: 561px) {
      & {
        font-size: 54px;
      }
    }

    @media (min-width: 1280px) {
      & {
        font-size: 72px;
      }
    }
  }

  .title {
    font-size: 21px;
    font-weight: 600;

    @media (min-width: 561px) {
      & {
        font-size: 32px;
      }
    }
  }

  .btn {
    border: none;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

  .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  .no-scroll {
    overflow-y: hidden;
  }

  
  /* hero */

  .hero {
    .container {
      background: url("../img/mediaexpert-hero-mob.png") no-repeat center / cover;
      padding-left: 20px;
      padding-right: 20px;

        @media (min-width: 561px) {
          & {
            padding-left: 10%;
            max-height: 900px;
            background: url("../img/mediaexpert-hero.png") no-repeat center / cover;
          }
        }
        
        .hero-info {
            padding: 40px 0;
            display: flex;
            flex-direction: column;
            gap: 30px;

            @media (min-width: 561px) {
              & {
                padding: 15% 0;
                max-width: 309px;
                gap: 60px;

              }
            }

            @media (min-width: 1280px) {
              & {
                max-width: 609px;
              }
            }

            .hero-titles {
                display: flex;
                flex-direction: column;
                gap: 10px;
                max-width: 70%;

                @media (min-width: 561px) {
                  & {
                    gap: 20px;   
                    max-width: 100%;
                  }
                }

                .main-title {
                  font-size: 40px;

                  @media (min-width: 561px) {
                    & {
                      font-size: 54px;      
                    }
                  }

                  @media (min-width: 1280px) {
                    & {
                      font-size: 72px;      
                    }
                  }
                }
            }

            .hero-text {
                font-size: 15px;
                margin-bottom: 231px;

                @media (min-width: 561px) {
                  & {
                    font-size: 22px;
                    margin-bottom: 0;
                  }
                }
            }
            .btn-hero {
                margin-right: auto;
                padding: 14px 48px;
                background-color: var(--white-color);
                font-size: 16px;

                @media (min-width: 561px) {
                  & {
                    font-size: 17px;
                    padding: 18px 82px;
                  }
                }
            }
        }
    }    
  }

  /* mediaexpert */

  .mediaexpert {
    .container {
        display: flex;
        flex-direction: column;

        @media (min-width: 980px) {
          & {
            flex-direction: row;
          }
        }

        .mediaexpert-logo {          
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: var(--black-color);
            width: 100%;  
            padding: 16px 20px;  

            
            @media (min-width: 980px) {
              & {
                width: 40%;
                padding: 50px 10px;  
                justify-content: center;
              }
            }

            .mediaexpert-icon {
              height: 27px;
              width: 200px;

              @media (min-width: 561px) {
                & {
                  height: 57px; 
                  width: 420px;
                }
            }
          }
        }

        .mediaexpert-action {
            background-color: #FFF200;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex-grow: 1;
            gap: 20px;
            padding: 10px 20px 20px 20px;

            @media (min-width: 561px) {
              & {
                gap: 20px;
                padding: 20px 20px 20px 20px;
                flex-direction: row;
                align-items: center;
              }
            }
            @media (min-width: 980px) {
              & {
                justify-content: space-around;
              }
          }
            
            .action-title {
                font-size: 36px;
                font-weight: 700;
                margin-bottom: 10px;

                @media (min-width: 561px) {
                  & {
                    font-size: 44px;
                  }
                }

                @media (min-width: 1280px) {
                  & {
                    font-size: 56px;
                  }
                }
            }

            .action-text {
                font-size: 14px;
                font-weight: 600;
                max-width: 60%;

                @media (min-width: 561px) {
                  & {
                    font-size: 20px;
                    max-width: 100%;
                  }
              }
          }       
            
            .btn-action {
              flex-shrink: 0;
              background-color: var(--black-color);
              color: var(--white-color);
              padding: 18px 109px;
              
              @media (max-width: 1280px) {
                & {
                  font-size: 14px;
                  padding: 18px 70px;
                }
            }         
              @media (max-width: 560px) {
                & {
                  font-size: 14px;
                  padding: 10px 70px;
                }
            }         
          }            
        }
    }
  }

   /* offers */

   .offers {
    .container {
      position: relative;
      padding-left: 20px;
      padding-right: 20px;
      background: url("../img/mediaexpert-offers-mob.png") no-repeat center / 100% 100%;
      

      @media (min-width: 561px) {
        & {
          background: url("../img/mediaexpert-offers.png") no-repeat center / cover;
          padding-left: 10px;
          padding-right: 10px;
          /* max-height: 1046px; */
        }

    }
      @media (min-width: 1150px) {
        & {
          max-height: 1046px;
        }
    }

      .terms-conditions-wrap {
        position: absolute;
        top: 20px;
        right: 10px;
        z-index: 5;

        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-end;

        @media (min-width: 1150px) {
          & {
            top: 40px;
            right: 136px;
          }
        }

        .btn-terms-conditions {

          border: none;
          background-color: transparent;
          cursor: pointer;

          .terms-conditions{
            font-style: 16px;
            font-weight: 500;
            color: #787878;
            display: flex;
            gap: 12px;
            align-items: center;
    
            &::after{
              content: '';
              display: block;
              width: 24px;
              height: 24px;
              background-image: url('../img/svg/arrow.svg');
              background-repeat: no-repeat;
              background-position: center;
            }  
          }
        }

        .terms-conditions-list-wrap {
          position: relative;
          transition: opacity var(--trans-dur) var(--trans-timing-function),
    visibility var(--trans-dur) var(--trans-timing-function);

          .terms-close {
            position: absolute;
            right: 14px;
            top: 16px;
            width: 24px;
            height: 24px;
            background-color: transparent;
            border: none;
            cursor: pointer;
          }
  
          .terms-conditions-list {
            width: 280px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            padding: 50px 17px;
            background-color: var(--white-color);
            border-radius: 20px;
  
            @media (min-width: 400px) {
              & {
                width: 340px;
              }             
              }
  
            @media (min-width: 880px) {
              & {
                width: 380px;
              }              
              }
            }        
  
            .terms-conditions-list a {
              color: var(--black-color);
            }
        }        
      }
      
      .offers-wrap {
        padding-top: 80px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;

        @media (min-width: 561px) {
          & {
            padding-top: 10%;
            padding-bottom: 7%;
            gap: 80px;
          }
      }

        @media (min-width: 1150px) {
          & {
            padding-top: 7%;
            padding-bottom: 7%;
            gap: 80px;
          }
      }
        @media (max-width: 560px) {
          .main-title {
            text-align: center;
          }
        }
      }

      .offers-list {
        display: flex;
        gap: 27px;
        max-width: 1520px;
        flex-direction: column;

        @media (min-width: 561px) {
          & {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 15px;
            max-width: 794px;
          }
      }
        @media (min-width: 1150px) {
          & {
            flex-direction: row;
            gap: 30px;
            max-width: 1520px;
          }
      }

        .offers-item {
          background-color: #FFFFFFCC;
          border-radius: 20px;
          overflow: hidden;
          flex: 1;
          min-width: 255px;
          max-width: 388px;

          .offers-info-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px 10px 60px 10px;

            .offer-name {
              font-size: 32px;
              font-weight: 400;
              line-height: 1;
              margin-bottom: 26px;

              @media (min-width: 561px) {
                & {
                  font-size: 36px;
                  margin-bottom: 30px;
                }
              }

            }

            .offer-price {
              font-size: 93px;
              font-weight: 700;
              color: var(--accent-color);
              line-height: 1;
              margin-bottom: 53px;

              @media (min-width: 561px) {
                & {
                  font-size: 104px;
                  margin-bottom: 60px;
                }
              }

              .price-currency {
                font-size: 28px;
                font-weight: 400;
                margin-left: 8px;

                @media (min-width: 561px) {
                  & {
                    font-size: 32px;
                    }
                }
              }
            }

            .btn-offer {
              background-color: var(--black-color);
              color: var(--white-color);
              padding: 9px 45px;
              transition: background-color var(--trans-dur) var(--trans-timing-function);
              font-style: 14px;
              
              &:hover, &:focus {
                background-color: var(--accent-color);
              }

              @media (min-width: 561px) {
                & {
                  padding: 10px 51px;
                  font-size: 16px;
                  }
              }
            }
            }
          }
        }
      }        
    }
  

  /* conditions */

  .conditions {
    .container {
        padding: 50px 20px;
        max-width: 1216px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;

        @media (min-width: 561px) {
          & {
            padding: 80px 0;
            gap: 80px;
            }
        }

        @media (min-width: 1150px) {
          & {
            padding: 160px 0;
            gap: 80px;
            }
        }

        .conditions-titles {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            @media (min-width: 561px) {
              & {
                gap: 20px;
                }
            }

            .main-title {
              text-align: center;
            }
        }

        .title {
          text-align: center;
        }

        .conditions-text {
            text-align: center;
        }

        .conditions-list {
            display: flex;
            gap: 60px;
            flex-direction: column;
            padding: 0 10px;

            @media (min-width: 561px) {
              & {
                gap: 40px;
                flex-direction: row;
                flex-wrap: wrap;
                max-width: 600px;
                }
            }

            @media (min-width: 1150px) {
              & {
                gap: 40px;
                flex-direction: row;
                max-width: 100%;
                }
            }

            .conditions-item {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 24px;
                align-items: center;
                min-width: 180px;

                .conditions-item-text {
                    text-align: center;
                    font-size: 14px;
                    font-weight: 500;

                    @media (min-width: 561px) {
                      & {
                        font-size: 18px;
                        }
                }

                .conditions-icon {
                  width: 96px;
                  height: 96px;

                  @media (min-width: 561px) {
                    & {
                      width: 128px;
                      height: 128px;
                      }
                  }
                }
            }
        }
    }
  }
}

   /* conditions */

   .questions {
    
    .container {
      background-color: #EEF0F5;
      padding: 50px 20px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      align-items: center;

      @media (min-width: 561px) {
        & {
          padding: 80px 20px;
          gap: 80px;
          }
      }

      @media (min-width: 1150px) {
        & {
          padding: 160px 20px;
          }
      }

      .questions-list {
        max-width: 1216px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @media (min-width: 561px) {
          & {
            gap: 40px;
            }
        }

        .questions-item { 
          &:not(:last-child) {
            border-bottom: 1px solid #20202033;
          }
          
          .question-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 32px;   
            cursor: pointer;
            gap: 10px;   
            
            @media (min-width: 561px) {
              & {
                margin-bottom: 20px; 
                }
            }

            .question {
              font-size: 17px;
              font-weight: 600;      
              transition: color var(--trans-dur) var(--trans-timing-function); 
              
              @media (min-width: 561px) {
                & {
                  font-size: 24px;
                  }
              }

              &:hover,
              &:focus {
                color: var(--accent-color);
              }
            }

            .question-icon {
              transition: transform var(--trans-dur) var(--trans-timing-function);
              flex-shrink: 0;
              &.rotated {
                transform: rotate(180deg);                
              }
            }
          }

          .answer {
            display: none;
            font-size: 14px;
            font-weight: 500;
            max-width: 90%;
            padding-bottom: 32px;

            @media (min-width: 561px) {
              & {
                font-size: 18px;
                padding-bottom: 20px;
                }
            }

            a {
              color: inherit;
            }
          }

          .answer.active {
             display: block;                      
          }          
        } 
      }

      .btn-questions {
        padding: 18px 60px;
        background-color: var(--black-color);
        color: var(--white-color);
        margin-top: -32px;
        width: 100%;
        font-size: 17px;

        @media (min-width: 561px) {
          & {
            margin-top: -20px;
            padding: 18px 60px;
            width: auto;
            font-size: 16px;
            }
        }
      }
    }
   }


   /* modal */

   .backdrop {
    position: fixed;
    display: flex;
    padding: 20px 0;
    z-index: 10;
    align-items: flex-start;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    overflow-y: auto;
    transition: opacity var(--trans-dur) var(--trans-timing-function),
    visibility var(--trans-dur) var(--trans-timing-function);

    &.is-hidden .modal-registration {
      transform: translate(-50%, -50%) scale(0.3);
    }

    .modal-registration {
      position: relative;
      width: 90%;
      height: none;
      margin: auto;
      /* max-height: 98vh; */
      /* overflow-y: auto; */
      z-index: 10;
      padding: 50px 17px;
      /* top: 50%; */
      /* left: 50%; */
      background-color: var(--white-color);
      border-radius: 20px;
      /* transform: translate(-50%, -50%) scale(1); */
      transition: transform var(--trans-dur) var(--trans-timing-function);

      @media (min-width: 700px) {
        & {
          width: 680px;
          padding: 68px 130px;
        }
      }      

      .modal-close {
        position: absolute;
        right: 14px;
        top: 16px;
        width: 24px;
        height: 24px;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }

      .modal-title {
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 40px;
      }

      .modal-form {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
      
      .inputs-wrap {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .input {
          width: 100%;
          padding: 15px 21px;
          font-size: 16px;
          font-weight: 400;
          border: 1px solid #E3E3E3;
          border-radius: 50px;
        }
  
        .input::placeholder {
          color: #787878;
          ;
        }
  
        .select {
          appearance: none;
          background: url('../img/svg/arrow-black.svg') no-repeat right 15px center;
        }
  
        .phone-wrap {
          display: flex;
          gap: 12px;
  
          .phone-prefix {
            width: 63px;
            padding: 17px 15px;
          }
        }
      }
      
      .upload-wrap {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .upload-title-wrap {
          display: flex;
          justify-content: space-between;
          padding: 0 21px;

          .upload-title{
            font-style: 16px;
            font-weight: 500;
          }

          .upload-icon{
            font-style: 16px;
            font-weight: 600;
          }
        }

        #screen-upload,
        #receipt-upload {
          display: none;
        }

        .upload-btn{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding: 15px 21px;
          font-size: 16px;
          font-weight: 500;
          border: 1px solid var(--black-color);
          border-radius: 50px;
          cursor: pointer;
        }

        .upload-text {
          padding: 0 20px;
          font-family: Montserrat;
          font-size: 14px;
          font-weight: 400;
          color: #787878;
        }
      }      

      .checkbox-wrap {
        display: flex;
        gap: 16px;
        align-items: start;
        

        .politicka-text {
          font-size: 14px;
          font-weight: 400;
          cursor: pointer;
        }

        #submit-politicka {
          display: none;
        }

        .checkbox-icon {
          flex-shrink: 0;
          width: 20px;
          height: 20px;
          border: 2px solid #787878;          
          border-radius: 4px;
          position: relative;
          display: inline-block;
          background-color: #fff;
          transition: background-color 0.2s, border-color 0.2s;
          cursor: pointer;
        }

        #submit-politicka:checked + .checkbox-icon {
          background-color: #787878;
          /* border-color: #007bff;           */
        }

        .checkbox-icon::after {
          content: '';
          position: absolute;
          top: 2px;
          left: 5px;
          width: 6px;
          height: 10px;
          border: solid white;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          display: none;
        }
        
        #submit-politicka:checked + .checkbox-icon::after {
          display: block;
        }
      }

      .btn-submit {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 15px 21px;
        font-size: 16px;
        font-weight: 500;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        color: var(--white-color);
        background-color: var(--black-color);
      }
    }
   }
  